# egg info doesn't gets commited
*.egg-info/
build/
dist/

# Ignore the output_files directory
output_files/

# Ignore all the meep container
recipe_for_MEEP_installation/

# Ignore the processed data files
processed_data/

# Ignore all files with the following extensions
*.err
*.out
*.mp4
*.h5
*.npy
*.csv
*.npz
*.txt
*.svg

# Ignore pycache, ipynb checkpoints, vscode settings
__pycache__/
.pytest_cache/
.coverage
.ipynb_checkpoints/
*.cpython-*.pyc
.vscode/
.DS_*

# Exception: track requirements.txt files
!requirements.txt
!*/requirements.txt

# Exception: track png files in images folder
!docs/
!docs/images/**/*.png

# Exception
!examples/auxilary_data/04_3lens_system_noARC/schematic_3lens.jpg

# Add the CST and GRASP data for the simple single lens ARC example 
!examples/auxilary_data/01_simple_single_lens_ARC/CST_data/**
!examples/auxilary_data/01_simple_single_lens_ARC/GRASP_data/**
